/data/*
/dataset/*
/dataset_shelf/*
/myenv/*

/venv/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv310/
yolov8n/
uploads/
venv/
.env/
*.venv

# Editor / IDE files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs and database
logs/
*.log
*.sqlite3
*.db

# Python dependency files
pip-log.txt
pip-delete-this-directory.txt
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Compiled C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Docker-related
*.dockerignore
docker-compose.override.yml

# Environment variables
.env
.env.local
.env.*.local

